@font-face {
  font-family: "SharpGrotesk";
  font-display: block;
  src: url("/fonts/SharpGrotesk-Medium23.woff") format("woff");
}

@font-face {
  font-family: "Fit";
  font-display: block;
  src: url("/fonts/FitVariable-VF.woff2") format("woff2-variations");
}

::selection {
  color: black;
  background-color: white;
}

a {
  color: white;
}

body {
  font-family: "SharpGrotesk";
  background: #000;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25vw;
  line-height: 1.2;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.ticker {
  width: 100%;
}

canvas {
  opacity: 0;
}

.opacity {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#button:hover {
  border-radius: 50%;
}

@keyframes shake {
  0% {
    left: -15px;
  }
  100% {
    right: -15px;
  }
}
